.App {
  text-align: center;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10%;
  z-index: 99;
}
.bg {
  position: absolute; 
  top: -40%; 
  left: -50%; 
  width: 200%; 
  height: 190%;
}
.img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 8vw;
}
.App-logo {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.App-header {
  background-color: #222;
  height: 100%;
  width: 100%;
  color: white;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

